{{define "head"}}
<head>
    <title>Bookstore</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css" media="screen,projection"/>
    <!--Import main.css-->
    <link type="text/css" rel="stylesheet" href="static/css/main.css" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        table, th, td {
            border-collapse: collapse;
            border: 1px solid lightblue;
            padding: 3px 5px;
        }
    </style>
</head>
{{end}}